<div id="<%= dom_id league %>">
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= league.name%></h5>
        <p class="card-text"><%= league.description %></p>
      </div>
      <%= link_to "Show this league", league, class: "btn btn-primary" %>
    </div>
  </div>
</div>
