.how_section .container {
  min-height: 100vh;
  background-color: white;
  overflow: hidden;
}

.how_section .detail-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 50vh;
}

.img-box img {
  max-height: 100%;
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;
}

.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
