<%# Hero %>
<section class="how_section">
  <div class="container">
    <div class="row">
      <p> Home </p>
    </div>
    <div class="row">
      <div class="col-md-6 detail">
        <div class="detail-box">
          <%# <%= link_to "Back", root_path, class: "btn btn-primary" %>
          <div class="heading_container">
            <h2>
              The Watch Leagues
            </h2>
          </div>
          <p>
            Each game week is given a theme e.g. "Matt Damon", "Childhood Memories", "Awkward Family Scene"
          </p>
          <p>
            Every participant submits a film, it is then your job to rank the films and decide the winner!
          </p>
          <p>
            Points are then tallied up over the course of a season to decide who is the ultimate movie buff.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <ol class="img-box" data-controller="how">
          <li>
            <div class="notification">
              <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
              <div class="notification-content">
                <p><small>14th January</small></p>
                <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="notification">
              <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
              <div class="notification-content">
                <p><small>14th January</small></p>
                <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="notification">
              <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
              <div class="notification-content">
                <p><small>14th January</small></p>
                <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="notification">
              <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
              <div class="notification-content">
                <p><small>14th January</small></p>
                <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="notification">
              <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
              <div class="notification-content">
                <p><small>14th January</small></p>
                <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
              </div>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
